# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.ipynb_checkpoints/

# C extensions
*.so

*.zip

.env

src/recognition/models/trocr_model/

# App runtime artifacts
/src/app/vital_records_index/
/src/app/static/

# temporary 
data

*.pkl

# Environment files
.env
.env.*

# Virtual envs
.venv/
venv/
env/

# Editor and OS files
.DS_Store
.vscode/

# Tests / caches
.pytest_cache/
